include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include tox.ini
include runtests.py
include requirements.txt
include test_requirements.txt
graft drf_api_key
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune drf_api_key/tests/coverage
prune drf_api_key/.ropeproject
