include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.rst
include tox.ini
include runtests.py
include requirements.txt
include test_requirements.txt
graft django_api_key
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune django_api_key/tests/coverage
prune django_api_key/.ropeproject
